@import "../../styles/colors.scss";
.dm-sequencer-btn {
  position: relative;
  height: 65px;
  border-radius: 4px;
  margin: 6px;
  border: none;
  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    background: $dark-orange;
  }
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7),
  &:nth-child(8) {
    background: $light-orange;
  }
  &:nth-child(9),
  &:nth-child(10),
  &:nth-child(11),
  &:nth-child(12) {
    background: $yellow;
  }
  &:nth-child(13),
  &:nth-child(14),
  &:nth-child(15),
  &:nth-child(16) {
    background: $off-white;
  }
}

.dm-sequencer-btn-light {
  position: absolute;
  top: 8px;
  left: calc(50% - 8px);
  font-size: 16px;
  color: $off-light-red;
  &.selected {
    color: $on-light-red;
  }
  &.flashing {
    color: red;
    animation: blink 3s 1;
  }
}

@keyframes blink {
  0% {
    color: $off-light-red;
  }
  2% {
    color: $on-light-red;
  }
  6% {
    color: $off-light-red;
  }
}
