@import "../../styles/colors.scss";

#dm-bpm-selector-input {
  width: 65px;
  height: 40px;
  background: $darker-charcoal;
  padding: 0 5px;
  font-size: 24px;
  color: #fff;
}

#dm-bpm-selector {
  label {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
  }
}
