$off-light-red: #532c31;
$on-light-red: #f50b26;
$dark-orange: #f5684a;
$light-orange: #ff8637;
$yellow: #efe04f;
$grey: #afb3a5;
$silver: #86909f;
$off-white: #fef4db;
$pale-white: #f7f7f7;
$light-charcoal: #31312f;
$darker-charcoal: #2a3141;
$console-black: #2a3141;
